/*===============================
Main
===============================*/
main.flex {
  gap: 30px;
  align-items: start;
  padding: 30px 0;
}
/*===============================
left
===============================*/

main.flex .left .buttons {
  flex-direction: column;
  padding: 10px;
  gap: 6px;
}
main.flex .left .buttons button {
  background-color: var(--bg-color);
  padding: 10px;
  color: var(--subtitle);
  width: 129%;
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 5px;
  transition: 0.5s;
  font-size: 1.1rem;
}
.light main.flex .left .buttons button {
  background-color: #000;
  color: #fff;
}
.light main.flex .left .buttons button:hover,
.light main.flex .left .buttons button.active {
  color: #fafafa;
  border: 0.5px solid var(--blue);
}

main.flex .left .buttons button:hover,
main.flex .left .buttons button.active {
  color: var(--title);
  border: 0.5px solid var(--blue);
}
/*===============================
Right
===============================*/
main.flex .right {
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

main.flex .right .card {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 5px;
  transition: 0.5s;
  border: 1px solid rgba(93, 188, 252, 0.3);
  cursor: pointer;
}
.light main.flex .right .card {
  border: none;
  height: 320px !important;
  box-shadow: 0px 0px 5px 2px #00000020;
}
.light main.flex .right .card:hover {
  border: none;
}
main.flex .right .card:hover {
  border: 1px solid var(--blue);
  rotate: 3deg;
}
main.flex .right .card img {
  border-radius: 5px;
  height: 150px;
}
main.flex .right .card-body {
  padding: 10px;
}
main.flex .right .card-body .title {
  color: var(--title);
  font-size: 1.6;
}
main.flex .right .card-body p {
  margin: 15px 0;
  margin-bottom: 20px;
  font-size: 13px;
  color: var(--subtitle);
}
main.flex .right .card-body .icons {
  justify-content: space-between;
}
main.flex .right .card-body .icons .icon {
  gap: 16px;
}
main.flex .right .card-body .icons .icon .icon_link {
  font-size: 1.2rem;
  color: var(--subtitle);
  transition: 0.3s;
}
main.flex .right .card-body .icons .icon > div:hover {
  cursor: pointer;
  color: var(--icon-hover);
  transition: 0.5s;
}

main.flex .right .card-body .icons a {
  margin-right: 10px;
  font-size: 12px;
  transition: 0.3s;
  gap: 2px;
  align-items: center;
}
main.flex .right .card-body .icons a:hover {
  color: var(--blue);
}

/*===============================
media
===============================*/
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main.flex .left .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }
  main.flex .left .buttons button {
    width: fit-content;
    padding: 7px;
    font-size: 0.9rem;
  }
}
