.skills {
  margin: 3rem 0;
}
.skills h1 {
  font-size: 2.5rem;
  margin: 30px 0;
  color: var(--title);
  line-height: 2.5rem;
}

.skills .skills_content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.skills .skills_content span {
  background-color: var(--bg-color);
  padding: 10px;
  color: var(--subtitle);
  width: 129%;
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 5px;
  transition: 0.5s;
  font-size: 1.1rem;
}

.skills .skills_content span:hover {
  color: #fafafa;
  border: 0.5px solid var(--blue);
}
